body {
  background-image: url(/Portafolio/imagenes/fondo.png);
}
/*menu*/
.menu {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
    
}

.links {
  flex-direction: row;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 900;
  font-size: 1.2em;
  color: #ffffff;
  
}

.logo {
  width: 20%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out;  
}
.logo:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.logo h1 {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 900;
  margin: 0;  
  
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
}
.links a {
  text-decoration: none;
  text-transform: none;
  color: #e7e7e7;
  transition: all 0.3s ease-in-out;
}
.links a:hover {
  color: #150694;
  transform: scale(1.1);
}



/*Descripcion con foto*/
.card1 {
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: linear-gradient(0deg, #000, #272727);
}

.card1:before, .card:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.card1:after {
  filter: blur(100px);
}

/*botones de hoja de vida y contacto*/
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, rgb(5, 17, 112), #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

/*foto de mi portafolio*/
.contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

img {
  display: block;
  max-width: 60%;
}

.stack {
  width: 55%;
  max-width: 400px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card2:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card2:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card2 {
  aspect-ratio: 3 / 2;
  border: 4px solid;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}
.image {
  width: 100%;
  border: 4px solid;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  position: relative;
}

/*proyectos*/
.contenedor2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2{
  color: #0000ff;
}
.card3 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card3:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card3:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/*botones de proyectos*/
.main__socials {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  
}

.Link__pagina_web {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.pagina_web {
  fill: #3b39cc;
}
.Link__github {
  padding: 0.8em;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
.Link__pagina_web:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0b0983;
}

.Link__pagina_web:hover .instagram {
  fill: white;
}

.Link__github:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.Link__github:hover .github {
  fill: white;
}

/* Estudios */ 
.study-card {
  width: 400px;
  padding: 20px;
  border: 1px solid #0d1117;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.mac-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.mac-header span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mac-header .red {
  background-color: #ff5f57;
}

.mac-header .yellow {
  background-color: #ffbd2e;
}

.mac-header .green {
  background-color: #28c941;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #e6e6ef;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card .card-tag {
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background-color: #0d1117;
  padding: 4px;
  margin-block-end: 12px;
  color: #dcdcdc;
}
.code-editor {
  background-color: #0d1117;
  color: #dcdcdc;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    monospace;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
  height: 150px;
  border: 1px solid #333;
}

.code-editor::-webkit-scrollbar {
  width: 8px;
}

.code-editor::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.code-editor pre code {
  white-space: pre-wrap;
  display: block;
}



