.contenedor3 {
  background-color: antiquewhite;
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.contenedor3  .slider-icon {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 22); /* 22 images */
}

.contenedor3 .slider {
  width: 200px;
}

.contenedor3 .slider img {
  width: 100%

}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 11)); /* 22 images */
    transform: translateX(calc(-200px * 11)); /* 22 images */
  }
}